@import "tailwindcss";

@theme {
	--color-brand-dark: #0a192f;
	--color-brand-light: #f0f4f8;
	--color-brand-accent: #00a8cc;
	--color-brand-white: #ffffff;
	--color-text-main: #0a192f;
	--color-text-muted: #4a5568;

	--font-sans: var(--font-inter);
}

@layer base {
	.dentista-theme {
		@apply font-sans text-text-main bg-brand-light antialiased selection:bg-brand-dark selection:text-brand-white;
	}
}
